:root{
    --orange-color: #023047;
    --dark-blue-color: #023047;
    --blue-color: #057ADA;
    --light-blue-color: #E8F7FB;
    --light-purple-color: #6F7DFB;
    --black-color: #070917;
}


.none{
    list-style: none;

}

.flex{
    display: flex;    
}

